/some_none_queue	/path/to/somescript.py
/some_int_queue		/path/to/somescript.py %d
/some_float_queue	/path/to/somescript.py %f
/some_string_queue	/path/to/somescript.py %s
/some_mixed_queue	/path/to/somescript.py %s %d %f
